<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Money Transfer API</title>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Background image -->
  <div class="p-5 text-center bg-image container-fluid" style="
        background-image: url('https://th.bing.com/th/id/OIP.-k5qMd2cbOofGIZjCnJTJAHaDu?pid=ImgDet&rs=1');
        min-height: 850px;
      ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 text-warning" style="
                font-size: 170px;
                font-family: cursive;
              ">
            The Money Transfer Service API
          </h1>
          <a href="https://github.com/mohammedadelabu/transfer-api" class="btn btn-primary" style="padding: 20px 40px; border-radius: 60px; font-size:18px">View Source Code</a>
          <!-- <a href="/auth/facebook" class="btn btn-secondary" style="padding: 20px 40px; border-radius: 60px; font-size:18px">Login
            via Facebook</a>
          <a href="/auth/google" class="btn btn-danger" style="padding: 20px 40px; border-radius: 60px; font-size:18px">Login via
            Google</a> -->
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Background image -->

</body>

</html>
